.name_one_jvv {
    font-size: 60px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: start;
    margin-right: 54vw;
    margin-left: 7vw;
    margin-top: 20vh;
}

.name_one_jvv_img {
    height: 54vh;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -322px;
    margin-left: 52vw;
    border-radius: 10px;
    padding: 2vh;
}

.jvv_address {
    margin-left: 7vw;
    margin-top: 3px;
    margin-right: 54vw;
}

.name_two_vv {
    font-size: 60px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: start;
    margin-right: 7vw;
    margin-left: 54vw;
    margin-top: 20vh;
}

.name_one_vv_img {
    height: 54vh;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -322px;
    margin-left: 7vw;
    border-radius: 10px;
    padding: 2vh;
}

.vv_address {
    margin-left: 54vw;
    margin-top: 3px;
    margin-right: 7vw;
}


.info_container {
    text-align: center;
    /* font-size: 40px; */
}

.question_one {
    font-size: 40px;
    padding-bottom: 1vh;
}

.ans_question_one {
    font-size: 17px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vh;
}

.ans_question_one_p {
    padding: 1vh;
}

.text {
    font-size: 40px;
    padding-top: 3vh;
}

.left_part {
    display: grid;
    justify-content: start;
    margin-top: 1vh;
}

.left_part_imgbox {
    height: 45vh;
    width: 42vw;
    border: 1px solid;
    border-radius: 10px;
    margin-left: -44vw;
    margin-top: 5vh;
    padding: 2vh;
}

.left_part_textbox {
    font-size: 25px;
    margin-left: 8vw;
    margin-right: 54vw;
    margin-top: 3vh;
}

.right_part {
    display: grid;
    justify-content: end;
    margin-top: -2vh;
}

.right_part_imgbox {
    height: 45vh;
    width: 42vw;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 52vw;
    margin-top: -60vh;
    display: flex;
    padding: 2vh;
}

.right_part_textbox {
    font-size: 25px;
    margin-left: 54vw;
    margin-right: 8vw;
    margin-top: -7vh;
}

.p_add_mb {
    font-size: 17px;
    padding: 2p;
}

.head_jvv_about {
    font-size: 40px;
    text-align: center;
}

.about_jvv_img_crousal {
    border: 1px solid;
    height: 84vh;
    width: 84vw;
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-top: 3vh;
    border-radius: 15px;
}

.quote_by {
    text-align: right;
    font-size: 20px;

}

.p_thought_h {
    text-align: center;
    font-size: 35px;
    padding-top: 7vh;
}

.p_thought_p {
    text-align: center;
    font-size: 20px;
    margin-right: 56vw;
    margin-left: 15vw;
    margin-top: 5vh;
}

.p_img {
    height: auto;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -50vh;
    margin-left: 47vw;
    border-radius: 10px;
    padding: 2vh;
}

.p_img_3 {
    height: auto;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -60vh;
    margin-left: 47vw;
    border-radius: 10px;
    padding: 2vh;
}

.p_thought_h_r {
    text-align: center;
    font-size: 35px;
    padding-top: 7vh;
}

.p_thought_p_r {
    text-align: center;
    font-size: 20px;
    margin-right: 14vw;
    margin-left: 56vw;
    margin-top: 8vh;
}

.p_img_r {
    height: auto;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -35vh;
    margin-left: 7vw;
    border-radius: 10px;
    padding: 2vh;
}

.p_img_r_vv {
    height: auto;
    width: 43vw;
    border: 1px solid;
    display: flex;
    margin-top: -68vh;
    margin-left: 7vw;
    border-radius: 10px;
    padding: 2vh;
}

.h_main_info {
    font-size: 40px;
    text-align: center;
}

.about_jvv_img_main_info {
    border: 1px solid;
    height: auto;
    width: 84vw;
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-top: 3vh;
    border-radius: 15px;
    /* font-size: 30px; */
    padding: 2vh;
}

.about_jvv_main_info {
    text-align: center;
    font-size: 20px;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 30px;
}

.science_facilities_h {
    text-align: center;
    font-size: 40px;
}

.head_toppers {
    font-size: 40px;
    text-align: center;
}

.list_box {
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* padding-bottom: ; */
}

.sub_head_toppers {
    font-size: 30px;
    /* margin-left: 15vw; */
    padding-top: 5vh;
    text-align: center;
}

.li_toppers_name {
    display: inline-flex;
    justify-content: center;
    margin-left: 25vw;
    padding-top: 3vh;
}

.toppers_list {
    padding-right: 3vw;
    font-size: 25px;
    /* padding-top: 5vh; */
}

/* .img_school_establishers_left{
    border: 1px solid;
} */
.img_est {
    padding: 2vh;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 15vw;
    margin-top: 10vh;
}

.est_text {
    font-size: 40px;
    margin-left: 19vw;
    margin-top: 5vh;
}

.text_head_est{
    font-size: 40px;
    text-align: center;
}

.img_school_establishers_left{
    display: inline flow-root list-item;
    /* background-color: aqua; */
}

.img_school_establishers_left{
    display: inline flow-root list-item;
    /* background-color: aqua; */
    justify-content: center;
}