.horizontal_line{
    border-top: 1px solid;
    margin-top: 10vh;
    margin-bottom: 5vh;
     
}

.horizontal_line_1{
    border-top: 1px solid;
    margin-top: 7vh;
    margin-bottom: 3vh;
     
}

.horizontal_line_2{
    border-top: 1px solid;
    margin-top: 25vh;
    margin-bottom: 3vh;
     
}