*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #302f36eb;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
    font-family: 'Arvo', serif;
    font-size:20px;
}
.navbar_li{
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.header{
    text-align: center;
}

.logo{
    height: 82px;
    width: auto;
    display: flex;
    margin-left: 20px;
    margin-bottom: -8px;
    margin-top: -90px;
    border: 1px solid;
    border-radius: 15px;
} 
.logo_jvv{
    height: 105px;
    width: auto;
    display: flex;
    margin-left: 36px;
    margin-bottom: -8px;
    margin-top: 13px;
    border: 1px solid;
    border-radius: 15px;
    margin-right: 15px;
} 
.logo_vv{
    height: 105px;
    width: auto;
    display: flex;
    margin-left: 36px;
    margin-bottom: -8px;
    margin-top: 13px;
    border: 1px solid;
    border-radius: 15px;
    margin-right: 35px;
} 